<main>
    <div class="title"><p>Firghi's Zetta-Challenges</p></div>
    <div class="card-container">
        <div class="card" [routerLink]="['/first']">
            <div class="card-body">
                Challenge 1
            </div>
        </div>
        <div class="card" [routerLink]="['/second']">
            <div class="card-body">
                Challenge 2
            </div>
        </div>
        <div class="card" [routerLink]="['/third']">
            <div class="card-body">
                Challenge 3
            </div>
        </div>
        <div class="card" [routerLink]="['/fourth']" >
            <div class="card-body">
                Challenge 4
            </div>
        </div>
    </div>
</main>
