<main>
    
    <section>
        <p>Simple Pricing!</p>
        <p>The most advanced customer support tools
            with a simple and affordable pricing. And you
            can always try for 30 Days!
        </p>
    </section>
    <section>
        <div class="card-container">
            <div class="card">
                <div class="card-header">
                    BASIC
                </div>
                <div class="card-body">
                    <p class="price-number"><span class="dollar-sign">$</span>4/<span class="month">month</span></p>
                    <div class="divider"></div>
                    <div class="details">
                        <p><span>10</span> Projects</p>
                        <p><span>10</span> Pages</p>
                        <p><span>100</span> Mb Disk Space</p>
                    </div>
                    <div class="button-container"><button class="btn btn-primary" (click)="showAlert('success')">BUY NOW</button></div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    STANDARD
                    <span>Save 15%</span>
                </div>
                <div class="card-body">
                    <p class="price-number"><span class="dollar-sign">$</span>8/<span class="month">month</span></p>
                    <div class="divider"></div>
                    <div class="details">
                        <p><span>20</span> Projects</p>
                        <p><span>20</span> Pages</p>
                        <p><span>200</span> Mb Disk Space</p>
                    </div>
                    <div class="button-container"><button class="btn btn-primary" (click)="showAlert('success')">BUY NOW</button></div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-header">
                    ADVANCED
                </div>
                <div class="card-body">
                    <p class="price-number"><span class="dollar-sign">$</span>12/<span class="month">month</span></p>
                    <div class="divider"></div>
                    <div class="details">
                        <p><span>40</span> Projects</p>
                        <p><span>40</span> Pages</p>
                        <p><span>500</span> Mb Disk Space</p>
                    </div>
                    <div class="button-container"><button class="btn btn-primary" (click)="showAlert('success')">BUY NOW</button></div>
                </div>
            </div>
        </div>
        <p class="subheading">Frequently Asked Question</p>
        <div class="questions-box">
            <div class="question">
                <p class="title">How does free trial work?</p>
                <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur id expedita autem ipsum eos, ullam explicabo suscipit ducimus optio magni, eius odit, illo impedit.</p>
            </div>
            <div class="question">
                <p class="title">Can I cancel anytime?</p>
                <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur id expedita autem ipsum eos, ullam explicabo suscipit ducimus optio magni, eius odit, illo impedit.</p>
            </div>
        </div>
    </section>

</main>
